@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

:root {
  --color-red: rgb(221, 75, 34);
  --color-white: whitesmoke;
  --color-red-darker: rgb(197, 62, 29);
  --header-height: 60px;
  --footer-height: 70px;
  --cta-circle-width: 90px;
  --side-padding: 20px;
}

body {
  --top-bar-height: 4px;
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  height: calc(100vh - var(--top-bar-height));
  width: 100%;
  margin: 0;
  border-top: var(--top-bar-height) solid var(--color-red);
  font-family: "Roboto condensed", sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  padding: 0 var(--side-padding);
}

.logo {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
}

.content {
  display: grid;
  grid-template-rows: 1fr var(--footer-height);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(assets/bg-new-york.jpg) no-repeat center center;
  background-size: cover;
  color: var(--color-white);
  font-size: 1.3em;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.main button {
  margin-top: 10px;
}

.main-cta {
  margin-top: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
}

.cta {
  display: grid;
  grid-gap: 5px;
  text-align: center;
}

.cta .smol-text {
  text-transform: none;
}

.circle-bg {
  border-radius: 50%;
  width: var(--cta-circle-width);
  height: var(--cta-circle-width);
  background: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: 45px;
  margin-bottom: 20px;
}

button {
  border-radius: 5px;
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  padding: 7px 12px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.3s all;
}

button:hover {
  border: 2px solid var(--color-white);
  background: transparent;
  outline: 0;
}

button.button-smol {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 8px;
}

button.button-smol:hover {
  color: var(--color-red);
}

.footer {
  border-top: 1px solid var(--color-white);
  margin: 0 var(--side-padding);
  padding-top: 10px;
  font-size: 0.9em;
}

.footer-main,
.footer-sub {
  display: flex;
  justify-content: space-between;
}

.footer-main > *,
.footer-sub > * {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.footer-sub {
  font-size: 0.8em;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}